body{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  text-align: center;
  background-color: rgb(230, 230, 230);

}

h2 { color: rgb(253, 0, 127);}

.caja1{
  padding: 30px;
  margin: 20px;
  height: 150px;
  float: left;
  padding: 0px;
  margin-left: 200px;


}

.caja2{
  padding: 30px;
  margin: 20px;
  height: 150px;
  float: right;
  padding: 0px;
  margin-right: 200px;
  

}

.boton{
background-color: rgb(233, 24, 128);
color: yellow;
font-size: 20px;
border-radius: 10px





}

